.find-numbers-game-background {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../../../../assets/images/background/findNumberByWordBackground.jpg")
    center center / cover no-repeat;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), hsla(0, 0%, 0%, 1));
    z-index: 1;
  }

  .find-numbers-game-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .find-numbers-game-content {
    position: relative;
    z-index: 2;
  }
}

.card__icon {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;

  &--sound {
    top: 10px;
    right: 10px;
    &-disabled {
      border: 4px solid red;
      box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
      opacity: 0.6;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: red;
        transform: translateX(-50%);
      }
    }
  }

  &--talking-sound {
    top: 10px;
    right: 60px;
  }
}
