.background {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), hsla(0, 0%, 0%, 1)),
    url(../../../../images/background/find-numbers-up-to-ten-background.jpg)
      center center / cover no-repeat;

  .card {
    background-color: rgb(126, 126, 228);
    margin-top: 2vh;
    &-text {
      height: 16vh;
      font-size: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
